<% if current_user%>
    <%= form_for [@userscourse, @project] do |f|%>

        <% if @project.errors.any? %>
            <div id="error_explanation">
                <h2>There were some errors:</h2>
                <ul>
                <% @project.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
                </ul>
            </div>
        <% end %>

        Project <%= f.label :name%>
        <%= f.text_field :name%>
        <br>
        <%= f.hidden_field :user_id, value: current_user.id%>
        <%= f.hidden_field :userscourse_id%>
        <br>
        <%= f.submit%>
    <%end%>
<%end%>

