<%if current_user.admin?%>

    <%= form_for(@course, url:  new_category_course_path) do |f| %>

    <% if @course.errors.any? %>
    <div id="error_explanation">
        <h2>There were some errors:</h2>
        <ul>
        <% @course.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
        </ul>
    </div>
    <% end %>
    
        <%= f.label :name%>
        <%= f.text_field :name%>
        <%= f.hidden_field :category_id %>
        <%= f.label :description%>
        <%= f.text_field :description%>

        <%= f.submit%>
    <%end%>
<%end%>

