<% if current_user.admin?%>
    <h1>Class name: </h1>
        <br><%= @course.name%>
        <br>
        <br>
        <h1>Class description:</h1><br>
        <%= @course.description%><br>
        <%= link_to "Edit Course", edit_category_course_path%><br>
        <%= link_to "Delete Course", action: 'destroy', method: 'delete'%><br>
<%else%>

    <h1>Class name: </h1>
        <br><%= @course.name%>
        <br>
        <br>
        <h1>Class description:</h1><br>
        <%= @course.description%>
    <%= button_to "Join this class", new_usercourse_path%>
    
<%end%>
